<!-- Manage Contact -->
<form action="/contacts" method="post">
  <div class="contact">
    <h1 class="title">Title of the page!</h1>
    <p class="name">
      Name: <input type="text" name="name"/>
    </p>
    <p class="handle">
      Nick: <input type="text" name="handle" />
    </p>
    <p class="email">
      Email: <input type="text" name="email" />
    </p>
    <p class="website">
      Site: <input type="text" name="website" />
    </p>
  </div>
  <input type="submit" value="save">
</form>
<!-- End Manage Contact -->